

body {
    background-image: linear-gradient(rgb(92, 100, 221), purple);
    margin: 0;
}





nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit; /* Inherit the background color from the body */
    padding: 10px;
}

.logo {
    height: 60px;
    width: 60px;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}


.container {
    width: 80%;
    background-color: #f5f5f5;
    margin: auto;
    height: 500px;
    padding: 20px;
    overflow-y: auto;
    border: black;
    border-radius: 10px; /* Add scrollbar for overflow */
}

.message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.left {
    background-color: #e0e0e0;
    float: left;
    clear: both;
}

.right {
    background-color: #4caf50;
    color: #fff;
    float: right;
    clear: both;
}

#send-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    margin-top: 15px;
}

#messageInp {
    flex: 1;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 6px;
    margin-right: 10px;
}

.btn {
    cursor: pointer;
    border: 2px solid #4caf50;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
}
.message-content {
    display: block;
    font-size: 14px;
    color: #333; /* Adjust the color according to your design */
}
/* Add this styling to your existing CSS */
.reaction-btn {
    cursor: pointer;
    margin-right: 5px;
  }
  
#dark-mode-toggle{
    
    cursor: pointer;
}
  /* Light mode */

  

